/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: black;
    font-family: Fredoka;
}
h1 {
    color:#e53170;
    margin-bottom: 20px;
     
}

