/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: white;
    color: black;
    font-family: Fredoka;
    width: 80%;
    line-height: 2;
/* titolo*/  
}
h1 {
    color:#e53170;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 40px;
} 
/* testo*/  
.line {
    text-align: center;
}

ul {
    list-style: none;
}
/*main*/
main {
    background-color: white;
}
h3 {
    color: white;
}
/*layout*/
.container {

    margin: auto;
    width: 70%;

}
.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;

}
.flex-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-direction: row;
    padding-top: 20px;

}

.item {
    display: flex;
    text-align: center;
    background-color: black;
    width: 32%;
    box-shadow: 5px 5px 10px 2px #333333;

    
}
img {
    width: 30%;
}
.text {
    color: white;
    text-align: left;
    padding: 10px;
    
    
}
.email {
    color: aqua;
}

